[Unit]
Description=dumbserve git repo auto updater
After=registrator.service
Requires=registrator.service

[Service]
ExecStartPre=-/usr/bin/docker stop %p
ExecStartPre=-/usr/bin/docker rm %p
Environment=WEBROOT=/var/www
ExecStartPre=/usr/bin/docker create \
--name %p \
-e WEBROOT=${WEBROOT} \
-v ${WEBROOT} \
--expose 8080 \
cdarwin/dumbserve:0.1.1 --

ExecStart=/usr/bin/docker start -a %p
ExecStop=/usr/bin/docker stop %p
